<h3 class="title">General Resources</h3>
<div class="row" style="flex-direction: column !important;">
  <!-- COVID.gov.pk Card -->
  <div class="custom-card">
    <a class="govpk" target="_blank" href="http://covid.gov.pk/">
      <img
        src="./../../../assets/images/general-resources-logos/gov-pk.png"
        type="image/png"
        alt="Government Of Pakistan"
      />
    </a>
    <div class="d-flex mt-11">
      <a class="gov-link-title" target="_blank" href="http://covid.gov.pk/">
        See realtime Pakistan's <br />COVID situation
      </a>
      <a class="link-icon" target="_blank" href="http://covid.gov.pk/">
        <img
          src="./../../../assets/images/icons/angle-right.png"
          type="image/png"
          alt="angle-right"
        />
      </a>
    </div>
  </div>

  <!-- WHO Card -->
  <div class="custom-card">
    <a class="who" target="_blank" href="https://www.who.int/">
      <img
        src="./../../../assets/images/general-resources-logos/who.png"
        type="image/png"
        alt="World Health Organization"
      />
    </a>
    <p class="who-description mt-15">
      Text on whatsapp to get relevent <br />
      info regarding COVID - 19
    </p>
    <div class="d-flex mt-15">
      <img
        class="whatsapp-icon"
        src="./../../../assets/images/icons/whatsapp.png"
        type="image/png"
        alt="whatsapp"
      /><span class="contact ml-10"> +41 79 839 18 92 </span>
    </div>
  </div>

  <!-- Doctors-Online-247 Card -->
  <div class="custom-card">
    <a class="doctors-online" target="_blank" href="https://doctors247.online/">
      <img
        src="./../../../assets/images/general-resources-logos/doctores-online.png"
        type="image/png"
        alt="Doctors247Online"
      />
    </a>
    <p class="doctors-description mt-15">
      Call on the numbers mentioned above for online consulation regarding
      symptoms
    </p>
    <div class="d-flex mt-15">
      <img
        class="phone-icon"
        src="./../../../assets/images/icons/phone.png"
        type="image/png"
        alt="phone"
      /><span class="contact ml-10"> 042 - 99231669 </span>
    </div>
    <div class="d-flex mt-15">
      <img
        class="phone-icon"
        src="./../../../assets/images/icons/phone.png"
        type="image/png"
        alt="phone"
      /><span class="contact ml-10"> 042 - 99231670 </span>
    </div>
    <div class="d-flex mt-15">
      <img
        class="phone-icon"
        src="./../../../assets/images/icons/phone.png"
        type="image/png"
        alt="phone"
      /><span class="contact ml-10"> 0301-1102229 </span>
    </div>
    <div class="d-flex text-center">
      <p class="border"></p>
      <span class="m--10">OR</span> <span><p class="border"></p></span>
    </div>
    <div class="address">
      <p class="add-desc">Consult a doctor via Video at</p>
      <a class="web-link" target="_blank" href="https://doctors247.online/"
        >www.doctor247.online</a
      >
    </div>
  </div>
</div>
