<app-loader></app-loader>
<app-mobile-header></app-mobile-header>
<app-mobile-banner></app-mobile-banner>
<main class="content">
  <div class="col-12 p-0 resources-bar" (click)="resources()">
    <div class="bar-padding">
      <h2 class="bar-title">View general resources related to COVID - 19</h2>
      <img
        class="bar-icon"
        src="./../../../assets/images/icons/angle-right.png"
        alt="angle-right"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-12 p-0">
      <app-mobile-organizations></app-mobile-organizations>
    </div>
  </div>
</main>
<app-mobile-footer></app-mobile-footer>
