<footer class="footer">
  <div class="row">
    <div class="col-12 p-0">
      <h6 class="footer-title">
        Made by an open source community
      </h6>
      <p class="footer-description">
        Help us grow this intitative into a larger platform
      </p>
      <a
        href=" https://join.slack.com/t/covidreliefpakistan/shared_invite/zt-db5szcbn-qHi3~K1M0ASpNo9Vk1NpDw"
        target="_blank"
        class="btn footer-button"
        >Join our Slack group</a
      >
    </div>
    <div class="col-12 p-0">
      <div class="footer-card">
        <p class="footer-card-description">
          For more details, feel free to reach out to
        </p>
        <p class="owner-name">Muhammad Saad</p>
        <div class="d-flex contact-info">
          <div class="phone">
            <img
              src="./../../../../assets/images/icons/white-phone.png"
              class="mr-2"
              alt="phone-icon"
            /><span class="number">0324 - 4746147</span>
          </div>
          <div class="email">
            <img
              src="./../../../../assets/images/icons/email.png"
              class="mr-2"
              alt="email-icon"
            />
            <span class="email-address">saad@we-over-i.com</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
