<div class="card">
  <div class="row">
    <div class="col-xl-7 col-lg-9 description">
      <h4 class="tag-line">
        {{ tagLine }}
      </h4>
      <h2 class="title">
        {{ title }}
      </h2>
      <a href="#organizationList" class="list-pointer">
        {{ browseText }}
        <span class="ml-15">
          <img
            src="./../../../assets/images/icons/white-down-arrow.png"
            type="image/png"
            alt="down-arrow"
          />
        </span>
      </a>
    </div>
  </div>
</div>
