.content {
  width: 100%;
  height: 100vh;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.card {
  border-radius: 0% !important;
  border: none !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-bottom: 32px !important;
}
.header {
  padding: 16px !important;
  border-bottom: 2px solid #e0e0e0;
}
.cancel-icon {
  margin-right: 29px !important;
  align-self: center;
}
.header-title {
  font-family: "Open-Sans-Bold";
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.04em;
  color: #424242;
}
.card {
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-bottom: 32px !important;
}
.custom-card {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  margin-top: 24px !important;
  padding: 16px !important;
  width: 100% !important;
}
.mt-16 {
  margin-top: 16px !important;
}
.gov-link-title {
  font-family: "Open-Sans-Bold";
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #2196f3;
}
.who-description,
.doctors-description {
  font-family: "Open-Sans-Regular";
  font-style: normal;
  font-size: 10px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #757575;
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
.add-desc {
  font-family: "Open-Sans-Regular";
  font-style: normal;
  font-size: 10px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #757575;
}
.contact {
  font-family: "Open-Sans-Regular";
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #424242;
}
.ml-10 {
  margin-left: 10px !important;
}
.whatsapp-icon {
  width: 19px;
  height: 19px;
}
.phone-icon {
  width: 13.5px;
  height: 13.5px;
  margin-top: 3px;
}
.border {
  border: 1px solid #e0e0e0 !important;
  width: 35vw;
  height: 1px;
}
.m--10 {
  margin: -10px 20px 0 !important;
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.96px;
  font-family: "Open-Sans-Regular";
  color: #424242;
}
.address {
  margin-top: 20px !important;
}
.web-link {
  color: #2196f3;
  font-size: 11px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.8px;
  font-family: "Open-Sans-Regular";
}
.mt-15 {
  margin-top: 10px !important;
}
